ion-menu {
    --width: 250px;
  }
  
  ion-content {
    --background: #f4f4f9;
  }
  
  ion-item {
    --border-color: transparent;
    --background-hover: #e0e0e0;
    transition: transform 0.3s ease, background-color 0.3s ease;
  
    ion-icon {
      color: #3880ff;
    }
  
    ion-label {
      font-weight: bold;
    }
  }
  
  ion-item:hover {
    transform: scale(1.05);
    background-color: #e0e0e0;
  }
  
  ion-item.active-item {
    background-color: #d4d4d4; 
    ion-icon {
      color: #1a73e8; 
    }
    ion-label {
      color: #1a73e8; 
    }
  }
  